body {
	background-color: #333333;
	font-family: raleway;
}
.sectionheader {
	text-align: center;
	padding-bottom: 30px;
}

.toppicwrap {
	width: 100%;
	position: relative;

}

.hello {
	position: relative;
	margin-top: 10vw;
	margin-left: 10vw;
	font-size: 6vw;
	z-index: -2;
}

.toppic {
	width: 100%;
	position: fixed;
	z-index: -3;
	top: 0;
}


#aboutsection {
	width: 100%;
	margin-top: 50%;
	color: #F5FBEF;
	background-color: #333333;
	position: relative;
	z-index: -1;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2%;

}

.abouttext {
	margin-left: 10%;
	margin-right: 10%;
	line-height: 4.5vw;
	background-color: (51, 51, 51, 0.8);
	font-size: 1.5vw;
}

#newyork {
	width: 100%;
}


#newyorktextwrap {
	width: 42%;
	display: inline-block;
	vertical-align: top;
	margin-top: 5vw;
	color: white;
	margin-left: 6%;

}

#newyorktext {
}

#somervillesection {
	background-color: #333333;
	padding-right: 0px;
	padding-left: 0px;
	color: white;
}

.tuftspic {
	width: 100%;
}

.somervilletext {
	line-height: 5vw;
	font-size: 1.3vw;
	width: 80%;
	position: relative;
	z-index: 100;
	margin-right: 10%;
	margin-left: 10%;
	display: block;
	color: #333333;
	background-color: rgba(255, 255, 255, .75);
	padding-right: 20px;
	padding-left: 20px;
	font-weight: 700;
	border-radius: 5px;
	border: solid #333333 4px;
}

#somervilletoptext {
	margin-top: -66%;
}


#wmfosection {
	background-color: #333333;
	padding-right: 0px;
	padding-left: 0px;
	color: white;
}


.wmfopic {
	width: 100%;
}

.wmfotext {
	line-height: 5vw;
	font-size: 1.5vw;
	width: 80%;
	position: relative;
	z-index: 100;
	margin-right: 10%;
	margin-left: 10%;
	display: block;
	color: #333333;
	background-color: rgba(255, 255, 255, .75);
	padding-right: 20px;
	padding-left: 20px;
	font-weight: 700;
	border-radius: 5px;
	border: solid #333333 4px;
	margin-top: -55%;
}



