
#gallerysection {
	height: 100vh;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #333333;
	color: white;
}

.gallerytext {

}

#gallery {
	height:33vw;
	z-index: -1;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.galleria-images {
	z-index: 0;
}

.galleria-image-nav {
	z-index: 0;
}

.galleria-thumbnails-container {
	z-index: 0!important;
}
