#mapsection {
	background:url('../pics/wood.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom: 50px;
}

#map_canvas {
	width: 70%;
	height: 500px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	margin-bottom: 20px;
}
